<section id="about-section" class="bg-light text-muted py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center">
                <img src="images/master.jpg" alt="" class="img-fluid" />
            </div>
            <div class="col-md-8">
                <div class="d-flex">
                    <div class="align-self-end">
                        <p class="lead text-justify">
                            Что для вас важнее всего?
                            Для меня, важнее всего будущее, а точнее дети, и их будущее. То, что мы оставим
                            после себя им. И каким будет их мир, напрямую зависит от нас с вами - взрослых.
                            Детский спорт - это наше будущее, он взращивает тех людей, которые сменят наше
                            поколение. Кроме того, детский спорт это профилактика проблем со здоровьем,
                            коммуникацией, подростковой преступности. Он отвлекает людей от улицы, помогает
                            нормально развиваться и расти ребенку в единстве. И наша с вами задача, помочь им,
                            направить их энергию на активный процесс бесконечного развития,
                            самосовершенствования и самореализации.
                            Спортивный клуб Единоборств "Прайм Тайм" за воспитание детей и молодёжи в духе
                            интернационализма и межнационального единства!
                            В нашем клубе, бок о бок, занимаются ребята разных национальностей и
                            вероисповеданий.
                            Есть и уроженцы Киргизии и Узбекистана, есть азербайджанцы и чеченцы, есть русские,
                            украинцы, калмыки и многие другие. И всех нас объединяет любовь к спорту, а именно –
                            Киокусинкай каратэ.
                            Вид единоборств, который завезен к нам из Японии. С совсем незнакомой и чуждой
                            культурой.
                            Но благодаря философии боевых искусств, оно нашло отголоски в наших сердцах и прочно
                            там обосновалось.
                            У всех ребят, разные спортивные показатели, кто то становится чемпионом Москвы и
                            России, кто-то остаётся без наград, но все мы ценим и уважаем друг друга, прекрасно
                            понимая что победа одного - это заслуга всей команды, с кем он тренировался. И
                            благодаря именно своим товарищам, он и становится победителем. Зная это, мы ценим
                            дружбу, и наш девиз пусть и звучит банально, но он реально действенный: "Один за
                            всех, и все за одного!"
                            На ближайших турнирах по Киокусинкай, и у каждого будет шанс проявить себя и свои
                            возможности. Ну а я уверен, что вне зависимости от результата соревнований, главные
                            победы уже достигнуты, мы смогли сформировать команду, из абсолютно разных ребят.
                            Помогли им найти хороших и проверенных временем настоящих друзей, на которых можно
                            положиться.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>